#h7{
    font-family: 'Pathway Gothic One', sans-serif;

    color: #2e2e2e;
    text-align: center !important;
    line-height: 1.25;
}
#h6{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;

}
#h5{
    font-family: 'Pathway Gothic One', sans-serif;
    color: #2e2e2e;
    margin-bottom: -8px;
    text-align: center;
    padding: 40px 30px 30px 30px;
    display: inline-block;
}
#h5b{
    font-family: 'Pathway Gothic One', sans-serif;
    color: #2e2e2e;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px 30px 30px 30px;
    display: inline-block;
}
#h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    position: relative;
    padding: 80px 0 0 0;
    height: 200vh;
    max-height: 200px;

}
#h3{
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: rgb(234,211,141, .4)
   
    color: #2e2e2e;
    text-align: left !important;
    line-height: 1.25;
}
.p {
    color: #2e2e2e;
   
}
#p1{
    color: #2e2e2e;
    margin: 50px 0 50px 0;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center !important;
    padding: 20px 0 0 0;
    display: inline-block;
   
}
#p2{
    color: #fafafa;
 
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center !important;
    padding: 15px 0 20px 0;
    display: inline-block;
}
.navbar-brand{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}
.card-title{
    font-family: 'Pathway Gothic One', sans-serif;
}
.fontsizeXXXsmallScaled { font-size:calc(.9em + 1vw); }
.fontSizeXXSmallScaled { font-size:calc(.8em + 1vw); }
.fontSizeXSmallScaled { font-size:calc(.8em + 1.2vw); }
.fontSizeSmallScaled { font-size:calc(.9em + 1.4vw); }
.fontSizeMediumScaled { font-size:calc(1em + 1.5vw); }
.fontSizeLargeScaled {
     font-size:calc(1.25em + 1.6vw); 
}
.fontSizeXLargeScaled { font-size:calc(1.5em + 1.7vw); }
.fontSizeXXLargeScaled { font-size:calc(1.75em + 1.8vw); }





 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
 