#h7{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    color: #2e2e2e;
    text-align: center !important;
    line-height: 1.25;
}
#h6{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;

}
#h5{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 35px;
    color: #2e2e2e;
    font-size:2vw;
    text-align: center;
    padding: 70px 70px 30px 70px;
    display: inline-block;
}
#h4{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-align: center;
    padding: 50px 100px 0px 100px;

}
#h3{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    color: #2e2e2e;
    text-align: center !important;
    line-height: 1.25;
}
.p {
    color: #2e2e2e;
   
}
#p1{
    color: #2e2e2e;
    font-size: 1.5vw;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center !important;
    padding: 20px 0 0 0;
    display: inline-block;
}
#p2{
    color: #fafafa;
    font-size: 40px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center !important;
 
    display: inline-block;
}
.navbar-brand{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}
 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
 @media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 60px;
    }
  }
  @media screen and (max-width: 450px) {
    div.example {
      font-size: 60px;
    }
  }