/* Header Parallax Element Style*/ 

.paral {
min-height: 400px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}
/* Paragraph for Parallax Section */ 
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}
    
/* Heading for Parallax Section */ 
.paral h1 {
color: rgba(37, 37, 37, 0.8);
font-size: 60px;
text-align: center;
padding-top: 60px;
line-height: 100px;
}
/* Image for Parallax Section */ 
.paralsec {
background-image: url("https://user-images.githubusercontent.com/32280473/43679489-b9617f7c-97da-11e8-86af-45d2135832ec.jpg");
}
    
.paralsec1 {
background-image: url("https://user-images.githubusercontent.com/32280473/43679589-3f1170b8-97dc-11e8-879c-46d7408324b0.jpg");
}

    
.paralsec2 {
background-image: url("https://user-images.githubusercontent.com/32280473/43679584-12933170-97dc-11e8-882c-9752628cf31e.jpg");
}
.paralsec3 {
    background-image: url("https://user-images.githubusercontent.com/32280473/43679605-5dd1577a-97dc-11e8-8c04-256ea5505aab.jpg");
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #2e2e2e;
}
.logo{
    background-image: url("https://user-images.githubusercontent.com/32280473/43681817-929bb7d8-9814-11e8-9802-db52b488a20d.png");

}


/* Footer */
.wn-footer {
width: 100%;
padding: 2.5rem 0;
text-align: center;
color: white;
background-color: #fafafa;
border-top: .05rem solid #e5e5e5;
}
 
.wn-footer a {
color: #2e2e2e;
}
/*call to action form*/

 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
 @media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 60px;
    }
  }
  @media screen and (max-width: 450px) {
    div.example {
      font-size: 60px;
    }
  }
