#bg-color1 {
    background-color: white;
    height: 350px;
}
#bg-color2{
    background-color:white;
    min-height: 325px;
    height: auto;
  
}
#bg-color3{
    background-color: black;
}
.heightcontainer{
    min-height: 300px;
    background-color: #fafafa;
}

/*top bar*/
.top-bar{
    background-color: black;
}
fab{
    color: white;
}
li{
    list-style: none;
    margin: 5px 0 0 5px;
    display: inline-flex;
    padding: 10px 10px  0 0;
    color: white;
}
ul{
    padding-left: -30px;
}
h6{
    font-size: 14px;
    padding-right: 20px; 
}

.boxed2{
    width: 600px;
    position: absolute;
    min-height: 150px;
    height: auto;
    border: none;
    background-color:#536B3D;
    opacity: 0.85;
    margin: 25px;
    font-family: 'Pathway Gothic One', sans-serif;
    
    text-align: center;
    color: #fafafa;
    padding: 50px 50px 50px 50px;
    display: inline-block;
}

.position{
    position: absolute:

}
.seals{
    display: inline-block;
    margin-top: 40px;
    position: relative;
    max-width: 100%;
}
.treeoflife{
    max-height:45%;
    height: auto;
    opacity: 0.85;
    margin: 100px 30px 50px 100px;

}

.primary_nav_wrap{
    background-color: #536B3D;
}


/*CALL TO ACTION*/

#form-position{
    margin: 15px 0 0 0 ;
}
input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:2px solid #ccc !important;
   
}
input[type="text"]:focus{
    outline: none;
    box-shadow:none !important;
    border:2px solid #95B159 !important;
}
input[type="email"]:focus{
    outline: none;
    box-shadow:none !important;
    border:2px solid #95B159 !important;
 
}
.form-control{
    border-radius: 1px;
}
input[type="email"], textarea {
    outline: none;
    box-shadow:none !important;
    border:2px solid #ccc !important;
}



