#bg-color1 {
    background-color: white;
    height: 350px;
}
#bg-color2{
    background-color:white;
    height: 600px;
}
#bg-color3{
    background-color: black;
}
.heightcontainer{
    min-height: 700px;
    background-color: #fafafa;
}

/*top bar*/
.top-bar{
    background-color: black;
}
fab{
    color: white;
}
li{
    list-style: none;
    margin: 5px 0 0 5px;
    display: inline-flex;
    padding: 10px 10px  0 0;
    color: white;
}
ul{
    padding-left: -30px;
}
h6{
    font-size: 14px;
    padding-right: 20px; 
}
#form-position{
    margin: 15px 0 0 0 ;
}
.boxed2{
    width: 600px;
    position: relative;
    height: 150px;
    border: none;
    background-color:#536B3D;
    opacity: 0.75;
    margin: 25px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #fafafa;
    padding: 50px 50px 50px 30px;
    display: inline-block;
}

.position{
    position: absolute:
}
.seals{
    display: inline-block;
    margin-top: 40px;
    position: relative;
    max-width: 100%;
}
.treeoflife{
    max-width: 25%;
    opacity: 0.85;
    margin-bottom: 50px;
    margin-left: 100px;
}





/* Bg Color(s)*/




